# Postgres credentials (used by both backend and db service)
POSTGRES_USER=simboard
POSTGRES_PASSWORD=simboard
POSTGRES_DB=simboard
POSTGRES_PORT=5432
POSTGRES_SERVER=db
PGDATA=/var/lib/postgresql/data/pgdata

# Local dev connection ("localhost"), comment out above and uncomment below to use.
DATABASE_URL=postgresql+psycopg://simboard:simboard@localhost:5432/simboard
TEST_DATABASE_URL=postgresql+psycopg://simboard:simboard@localhost:5432/simboard_test
