export SIMBOARD_WORKDIR="/lcrc/group/e3sm2/simboard/operations"
export SIMBOARD_MODULES="/lcrc/group/e3sm2/simboard/repository/simboard/backend"
export SIMBOARD_ENV_FILE="${HOME}/envs/test_simboard/bin/activate"
export SIMBOARD_API_TOKEN_FILE="${SIMBOARD_WORKDIR}/.api_token_export"
export SIMBOARD_INGESTOR_MODULE="app.scripts.ingestion.hpc_upload_archive_ingestor"
export SIMBOARD_API_BASE_URL="${SIMBOARD_API_BASE_URL:-https://simboard-dev-api.e3sm.org}"
export SIMBOARD_DEFAULT_ARCHIVE_YEAR_START="${SIMBOARD_DEFAULT_ARCHIVE_YEAR_START:-2025-01}"
export DRY_RUN="${DRY_RUN:-true}"
export PERF_ARCHIVE_ROOT="${PERF_ARCHIVE_ROOT:-/lcrc/group/e3sm/PERF_Chrysalis/performance_archive}"
export OLD_PERF_ARCHIVE_ROOT="${OLD_PERF_ARCHIVE_ROOT:-/lcrc/group/e3sm/PERF_Chrysalis/OLD_PERF}"
export MACHINE_NAME="${MACHINE_NAME:-chrysalis}"
