export MACHINE_NAME="chrysalis"
export SIMBOARD_WORKDIR="${HOME}/Ops/simboard"
export SIMBOARD_REPODIR="${HOME}/gitrepo/simboard/backend"
export SIMBOARD_ENV_CMD="source $HOME/envs/test_simboard/bin/activate"
export SIMBOARD_API_TOKEN_CMD="$SIMBOARD_WORKDIR/.api_token_export"
export DRY_RUN="${DRY_RUN:-true}"
export PERF_ARCHIVE_ROOT="/lcrc/group/e3sm/PERF_Chrysalis/performance_archive"
export OLD_PERF_ARCHIVE_ROOT="/lcrc/group/e3sm/PERF_Chrysalis/OLD_PERF"

